*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* li{
    list-style: none;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;
    /* margin-top: -40px; */
    background-color: transparent;
    border-bottom: 1px solid #000;
    position: sticky;
    top: 0;

    animation: on-scroll 5s forwards;
    animation-timeline: view();
    animation-range-start: 70vh;
    animation-range-end: 120vh;

}
.logo{
    width: 40px;
    height: 40px;
    border: 2px solid #212121;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.logo::before{
    content: "";
    position: absolute;
    left: 0;
    background-color: #ffffff;
    height: 200%;
    width: 80%;
    transform: rotate(-45deg);
    border: 2px solid #000;
}

.li-container{
    display: flex;
    
}

.li-container li{
    margin-right: .8rem;
}
.li-container li a{
    text-decoration: none;
    color: black;

    animation: link 0.5s forwards;
}

@keyframes on-scroll {
    100%{
        background-color: black;
        margin-top: 0;
        color: #fff;
    }
}
@keyframes link{
    100%{
        
        color: #fff;
    }
}